@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: serif;
font-family: "Manrope", sans-serif;
}

body {
scroll-behavior: smooth;
width: 100%;
height: 100vh;
background: #1F232D;
}

/*----------Header-----------------*/
header {
width: 95%;
height: 80px;
margin: 0px 2%;
}

/*----------Nav -bar-----------------*/
nav {
width: 89%;
height: 79px;
display: flex;
justify-content: space-between;
align-items: center;

}

nav .logo {
color: aliceblue;
margin-left: 20px;
letter-spacing: 9px;
font-size: 18px;
font-weight: 600;
flex-basis: 1;
text-shadow: 1px 1px 20px #fff;
}
.logo  img{
    display: none;
    width: 100px;
    height: 100px;
}

nav .links {
flex-basis: 50%;
margin-left: 800px;
}

nav .links ul {
display: flex;
justify-content: end;
align-items: center;
}

nav .links ul li {
margin-right: 25px;
list-style: none;
color: blanchedalmond;
cursor: pointer;
}


nav .links ul li a {
text-decoration: none;
color: #02E2F4;

}

nav .links ul li::after {
content: '';
width: 0%;
height: 2px;
background: #cac9c9;
display: block;
margin: auto;
transition: 0.75s;
}

nav .links ul li:hover::after {
width: 100%;
}

.links i,
.nav-icon i {
display: none;
}

/*------------------Home - Section------------*/
#home {
width: 100%;
height: 550px;
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}
/*---------------Text-subsection----------------*/
.Text {
flex-basis: 45%;
height: 85%;
margin: auto;
color: white;
padding: 40px;
line-height: 35px;
}
.Text h1 {
font-size: 30px;
margin-bottom: 15px;
}
.Text h1 img {
width: 35px;
height: 40px;
margin-left: 5px;
}
.Text h2 {
font-size: 30px;
font-weight: 600;   
}
.Text h3 {
margin-bottom: 15px;
font-size: 25px;
}
.Text  span {
color: #02E2F4;
padding-right: 4px;
}

.Text p {                                       
font-size: 20px; 
font-weight: 200;

}

.home-icons {
margin-top: 15px;
}

.home-icons a {
color: #02E2F4;
margin: 0px 5px;
font-size: 25px;
text-shadow: 3px 3px 23px #02E2F4;
}

.btn {
    background: transparent;
    padding: 5px 19px;
    border-radius: 40px;
    color: #02E2F4;
    margin-top: 15px;
    font-size: 16px;
    border: 0.3px solid #02E2F4;
    font-weight: bold;
}
.btn:hover {
color: white;
transition: 0.4s;
background: #02E2F4;
box-shadow: 1px 1px 12px #02E2F4, -1px -1px 12px #02E2F4;
}

/*---------------Image-subsection----------------*/
.Image {
flex-basis: 45%;
height: 85%;
margin: auto;
display: flex;
justify-content: center;
align-items: start;
}

.Image img {
margin-top: 50px;
border-radius: 50%;
box-shadow: 1px 10px 12px #02E2F4;
animation: onenter 1s  ease-in 0s;

}
/*----------About------*/
.about-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 250px;
    flex-wrap: wrap;
    height: 80vh;
    color: #fff;
}
.about-image{
   flex-basis :30%;
 margin-top: 50px;
  
    height: 100%;
    text-align: center;
}
.about-content{
 flex-basis: 45%;

    height: 100%;
}
.about-content h1{
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px 10px rgba(245, 222, 179, 0.637);
    font-size: 30px;
}
.about-image img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px #02E2F4;
}
.about-content marquee {
    width: 100%;
    height: 200px;
    margin: 19px 0;
    opacity: 0.6;
    color:whitesmoke;
    border: 1px solid #252727;
    box-shadow: inset 2px 2px 10px #191b1b,inset 2px 2px 10px #191b1b;
    
}
/*--------------Skills-------------*/
.skills{
    width: 100%;
    height: 57vh;
    color: #cac9c9;

}
.main-box{
    width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.skills h1{
padding-left: 45%;    
color: white;
font-weight: 700;
text-shadow: 1px 1px 10px rgba(245, 222, 179, 0.637);
font-size: 30px;
}
.box{
    margin: 10px 19px;
    border: 1px solid #191b1b;
    box-shadow: inset 1px 1px 15px #05050593,1px 1px 15px #5f5d5d93;
text-align: center;
width: 150px;
height: 100px;
padding: 20px 10px 0 10px;
transition: 2.5s;
}
.box:hover{
    box-shadow:  2px 2px 15px #a8a0a093;



}
.box img{
    width: 40px;
    height: 40px;
}
/*------------Projects----------*/
.projects{
    width: 100%;
    height: 115vh;

}
.project-container{
    width: 80%;
    height: 100%;
    margin: auto;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px #464949;
display: grid;
grid-template-columns: repeat(4,1fr);
text-align: center;
column-gap: 15px;
row-gap: 20px;
padding: 10px;

}
.project-box{
    width: 100%;
    height: 330px;
  border: 1px solid #1f232d1e;
    
}
.project-box img{
    width: 100%;height: 90%;
}
.project-box button{
    width: 100%;
    height: 10%;
   background:#DC3545;
    text-align: center;
    color: wheat ;
    font-size: 15px;
    border: 0px;
    box-shadow: 1px 1px 2px #ac3540;
    font-weight: bold;
    transition: all 3s;
    border: 1px solid white;
}

.projects h1{
    padding-left: 45%;    
color: white;
font-weight: 700;
text-shadow: 1px 1px 10px rgba(245, 222, 179, 0.637);
font-size: 30px;
margin-bottom: 10px;
}

/*-----------------------------Responsiveness----------------------------*/
@media (max-width:800px) {
    *{
        overflow-x: h;
    }
/*--------------NAv-bar---------------*/
nav .logo {
font-size: 25px;
flex-basis: 50%;

}
.logo h2{
    display: none;
}
.logo img {
    display: inline;
    width: 75px;
    height: 75px;
    border:1px solid white;
    border-radius: 50%;
    margin: 15px 0;
}

nav .links ul {
display: block;
padding: 30px;
}

nav .links ul li {

padding: 10px 20px;
animation: navlinksmovement 2s ease-in;

}

.links {
position: absolute;
background: #1f232db0;
height: 140vh;
width: 200px;
top: 0;
right: -200px;
text-align: left;
z-index: -3;
transition: 1s;
;
}

nav .fa {
display: block;
color: #fff;
margin: 1px;
cursor: pointer;
font-size: 25px;
}
/*--------------Home section---------------*/
#home{
    width: 100%;
    height: 100vh;
}
.Image img{
  display: none;
}
.Text{
    flex-basis: 100%;
    
}
.Text h1{
    font-size: 45px;
    
}
.Text h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.Text h3{
    font-size: 35px;
}
.home-icons i{
    font-size: 40px;
    margin: 0 10px;
}
.Text p{
    height: 15px;
    margin-bottom: 5px;
}
.btn{
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}
.home-icons i{
    display: none;
}

/*----------------About--------------*/
.About{
    height: 100vh;
}
.about-container{
    flex-direction: row;

}
#about-btn{
    width: 150px;
    font-size: 14PX;
    margin: 10px;
}
.about-image img{
width: 250px;
height:250px;

}

/*------------------Skills---------*/
.skills h1{
    padding:30px 0 0 -5%;
}
.skills{
    height: 100vh;
}
/*---------Project--------------*/
.project-container{
    grid-template-columns: repeat(2,1fr);
    column-gap: 5px;
    row-gap: 5px;
}
}

/*______________________Animation_________________________*/
/*Nav-links-----*/
@keyframes navlinksmovement {
from {
opacity: 0;
transform: translateX(200px);
}

to {
opacity: 1;
transform: translateX(0px);
}
}

/*------ Text----------*/
@keyframes typing {
from{
width: 0%;
}

to {
width: 100%;
}
}
/*-----HOme-Image--------*/
@keyframes onenter {
    0%{
        opacity: 0.2;
     transform: translateY(100px);
    }
    100%{
        opacity: 1;
     transform: translateY(0px);

    }
    
}